body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 40px;
  color: blue;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.container {
  margin: 5px 5%;
}

.header {
  display: flex;
  text-align: center;
}

.button-form-submit {
  margin: 10px 10px 0px auto;
  border: none;
  font-size: 24px;
  border-radius: 5px;
  background-color: rgb(204, 54, 0);
  color: white;
}

/* SortMenu */
.sort-menu-container {
  position: relative;
  margin-left: auto;
  margin-right: 10px;
  /* text-align: right; */
}

.sort-menu-item-active {
  color: red;
}

.sort-menu-icon {
  margin-left: auto;
}

.sort-menu-list {
  position: absolute;
  top: 10px;
  right: 0;
  width: 120px;
  list-style: none;
  text-align: left;
  font-size: 16px;
}

.sort-menu-list li {
  cursor: pointer;
}

.sort-menu-hidden {
  display: none;
}

/* PostList */
.post-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-active {
  color: red;
}

/* Post */
.post {
  /* display: flex; */
  margin: 5px auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 3px;
}

.post-item {
  height: 200px;
  width: 1000px;
  margin: 0px;
  display: flex;
}

.post-vote-container {
  width: 60px;
  flex: 0 0 auto;
  border-color: black;
  background-color: rgb(240, 240, 240);
  /* color: rgb(135, 138, 140); */
  /* fill: rgb(135, 138, 140); */
  /* border: 2px solid red; */
}

.post-vote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-upvote {
  cursor: pointer;
  font-size: 30px;
  color: rgb(100, 100, 100);
}

.post-votes-count {
  font-size: 14px;
}

.post-downvote {
  cursor: pointer;
  font-size: 30px;
  color: rgb(100, 100, 100);
}

.post-body-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 1000px; */
  background-color: rgba(255, 255, 255, 0.0);
  margin: 5px;
}

.post-header {
  display: flex;
}

.post-category {
  padding:0;
  margin-top: -20px;
  margin-left: -10px;
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
}

.post-category-react {
  background-image: url("./icons/react-icon.svg");
}

.post-category-udacity {
  background-image: url("./icons/udacity-icon.svg");
}

.post-category-redux {
  background-image: url("./icons/redux-icon.svg");
}
.post-title {
  font-size: 30px;
  text-align: left;
}

.post-author {
  font-size: 20px;
}

.post-comments {
  display: flex;
  font-size: 20px;
  color: rgb(100, 100, 100);
}
.post-comments-icon {
  font-size: 20px;
}

.post-comments-count {
  font-size: 16px;
  margin-left: 5px;
}

.post-edit {
  cursor: pointer;
  font-size: 20px;
  margin-left: auto;
  margin-right: 10px;
}

.post-delete {
  cursor: pointer;
  font-size: 20px;
  color: red;
}

/* PostDetails */
.post-details {
  /* display: flex; */
  margin: 5px auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 3px;
}

.post-details-item {
  /* height: 500px; */
  /* width: 1000px; */
  margin: 0px;
  display: flex;
}

.post-details-vote-container {
  width: 60px;
  flex: 0 0 auto;
  border-color: black;
  background-color: rgb(240, 240, 240);
  /* color: rgb(135, 138, 140); */
  /* fill: rgb(135, 138, 140); */
  /* border: 2px solid red; */
}

.post-details-vote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-details-upvote {
  cursor: pointer;
  font-size: 30px;
  color: rgb(100, 100, 100);
}

.post-details-votes-count {
  font-size: 14px;
}

.post-details-downvote {
  cursor: pointer;
  font-size: 30px;
  color: rgb(100, 100, 100);
}


.post-details-header {
  display: flex;
}

.post-details-category {
  padding:0;
  margin-top: -20px;
  margin-left: -10px;
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
}

.post-category-react {
  background-image: url("./icons/react-icon.svg");
}

.post-category-udacity {
  background-image: url("./icons/udacity-icon.svg");
}

.post-category-redux {
  background-image: url("./icons/redux-icon.svg");
}

.post-details-content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.post-details-title {
  font-size: 30px;
  text-align: left;
}

.post-details-body {
  margin-top: 10px;
  font-size: 28px;
  font-size: lighter;
  text-align: left;
}

.post-details-author {
  font-size: 20px;
}

.post-details-comments {
  display: flex;
  margin-top: auto;
  padding-top: 20px;
  font-size: 20px;
  color: rgb(100, 100, 100);
}
.post-details-comments-icon {
  font-size: 20px;
}

.post-details-comments-count {
  font-size: 16px;
  margin-left: 5px;
}

.post-details-edit {
  cursor: pointer;
  font-size: 20px;
  margin-right: 10px;
  padding: 0 10px;
}

.post-details-delete {
  cursor: pointer;
  font-size: 20px;
  color: red;
}

.post-details-comments-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 1000px; */
  background-color: rgba(255, 255, 255, 0.0);
  margin: 5px;
}
.post-details-comment-upvote {
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  margin-left: auto;
}

.post-details-comment-downvote {
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
}

.post-details-comment-edit {
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
}

.post-details-comment-delete {
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
}

/* Post Creation */
.post-create-button {
  position: fixed;
  right: 25px;
  bottom: 25px;
  font-size: 30px;
}

.post-create-form {
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
}

.post-create-author-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.post-create-author {
  font-size: 24px;
  margin: 10px;
}

.post-create-title {
  font-size: 24px;
  margin: 10px;
}

.post-create-body {
  font-size: 24px;
  margin: 10px;
  font-size: 24px;
  height: 200px;
  border-radius: 5px;
}

.post-create-submit {
  display: block;
  margin: auto;
  text-align: center;
  width: 200px;
  font-size: 24px;
}

.categories-list {
  list-style: none;
  text-align: center;
  font-size: 24px;
  /* height: 30px; */
}
.categories-list a {
  text-decoration: none;
}

.category-link {
  display: inline;
  margin: 10px;
}

.comments {
  /* position: absolute;
  right: 40px; */
  display: flex;
  flex-direction: column;
  /* border: 1px solid lightgrey; */
  padding-left: 10px;
  margin: 20px;
}

.comment {
  display: flex;
  /* position: relative; */
  border-bottom: 1px solid lightgrey;
  padding: 0.5rem 0;
}

.comment-vote-container {
  flex: 0 0 auto;
  width: 40px;
  border-color: black;
  background-color: rgb(240, 240, 240);
  /* color: rgb(135, 138, 140); */
  /* fill: rgb(135, 138, 140); */
  /* border: 2px solid red; */
}

.comment-vote {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-upvote {
  cursor: pointer;
  font-size: 30px;
  color: rgb(100, 100, 100);
}

.comment-votes-count {
  font-size: 14px;
}

.comment-downvote {
  cursor: pointer;
  font-size: 30px;
  color: rgb(100, 100, 100);
}

.comment-body-container {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 1000px; */
  background-color: rgba(255, 255, 255, 0.0);
  margin: 5px;
}

.comment-header {
  display: flex;
}

.comment-body {
  margin-top: 10px;
  font-size: 28px;
  font-size: lighter;
  text-align: left;
}

.comment-author {
  font-size: 20px;
  margin-left: 10px;

}

.comment-edit {
  cursor: pointer;
  padding: 0 10px;
  font-size: 20px;
}

.comment-delete {
  cursor: pointer;
  padding: 0 10px;
  font-size: 20px;
  color: red;
}

.comment-form {
  display: flex;
  flex-direction: column;
}

.comment-form-author {
  margin: 5px;
  font-size: 24px;
  border-radius: 5px;
}

.comment-form-body {
  margin-right: 5px;
  font-size: 24px;
  height: 200px;
  border-radius: 5px;
}

.comment-form-submit {
  margin: 10px 10px 0px auto;
  border: none;
  font-size: 24px;
  border-radius: 5px;
  background-color: rgb(204, 54, 0);
  color: white;
}

