body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 40px;
  color: blue;
}

.header {
  text-align: center;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
}

.post-item {
  position: relative;
  width: 500px;
  height: 150px;
  margin: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.post-title {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 20px;
  text-align: center;
}

.post-author {
  position: absolute;
  top: 50px;
  left: 10px;
}

.post-category {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0px;
  left: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  font-size: 0;
}

.post-category-react {
  background-image: url("./icons/react-icon.svg");
}

.post-category-udacity {
  background-image: url("./icons/udacity-icon.svg");
}

.post-category-redux {
  background-image: url("./icons/redux-icon.svg");
}

.post-comments {
  position: absolute;
  right: 70px;
  bottom: 25px;
  font-size: 20px;
}

.post-comments-count {
  position: absolute;
  right: 55px;
  bottom: 12px;
  font-size: 14px;
}
.post-upvote {
  position: absolute;
  cursor: pointer;
  right: 7px;
  bottom: 24px;
  font-size: 20px;
}

.post-votes-count {
  position: absolute;
  right: 20px;
  bottom: 12px;
  font-size: 14px;
}

.post-downvote {
  position: absolute;
  cursor: pointer;
  right: 7px;
  bottom: 1px;
  font-size: 20px;
}

.post-edit {
  position: absolute;
  cursor: pointer;
  right: 30px;
  top: 1px;
  font-size: 20px;
}

.post-delete {
  position: absolute;
  cursor: pointer;
  right: 3px;
  top: 1px;
  font-size: 20px;
}
.post-details-item {
  margin: auto;
  position: relative;
  width: 1000px;
  height: 500px;
  /* margin: 5px; */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.post-details-title {
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 20px;
  text-align: center;
}

.post-details-author {
  position: absolute;
  top: 20px;
  left: 15px;
}
.post-details-body {
  position: absolute;
  top: 70px;
  left: 25px;
  font-size: 30px;
  text-align: center;
}

.post-details-category {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0px;
  left: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  font-size: 0;
}

.post-details-comments {
  position: absolute;
  right: 70px;
  bottom: 25px;
  font-size: 20px;
}

.post-details-comments-count {
  position: absolute;
  right: 55px;
  bottom: 12px;
  font-size: 14px;
}
.post-details-upvote {
  position: absolute;
  cursor: pointer;
  right: 7px;
  bottom: 24px;
  font-size: 20px;
}

.post-details-votes-count {
  position: absolute;
  right: 20px;
  bottom: 12px;
  font-size: 14px;
}

.post-details-downvote {
  position: absolute;
  cursor: pointer;
  right: 7px;
  bottom: 1px;
  font-size: 20px;
}

.post-create {
  position: fixed;
  right: 25px;
  bottom: 25px;
  font-size: 30px;
}

.categories-list {
  list-style: none;
  text-align: center;
}

.category-link {
  display: inline;
  margin: 10px;
}

.comment {
  border-bottom: 1px solid lightgrey;
  padding: 0.5rem 0;
}
.comment p {
  font-size: 1.2rem;
  margin: 0;
}

.comment strong {
  color: blue;
  margin-right: 5px;
}

.comment:hover .remove-comment {
  opacity: 1;
}

.comments {
  position: absolute;
  right: 40px;
}
.remove-comment {
  background: none;
  border: 0;
  line-height: 1;
  opacity: 0;
  font-size: 20px;
}

.remove-comment:hover {
  color: red;
}
