body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 40px;
  color: blue;
}

.header {
  text-align: center;
  cursor: pointer;
}
.header a {
  text-decoration: none;
}

.post {
  display: flex;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.post-list {
  display: flex;
  flex-wrap: wrap;
}

.post-item {
  position: relative;
  width: 500px;
  height: 150px;
  margin: 5px;
}

.post-title {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 20px;
  text-align: center;
}

.post-author {
  position: absolute;
  top: 28px;
  left: 10px;
}

.category-active {
  color: red;
}

.post-category {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 0px;
  left: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  font-size: 0;
}

.post-category-react {
  background-image: url("./icons/react-icon.svg");
}

.post-category-udacity {
  background-image: url("./icons/udacity-icon.svg");
}

.post-category-redux {
  background-image: url("./icons/redux-icon.svg");
}

.post-comments {
  position: absolute;
  right: 19px;
  bottom: 15px;
  font-size: 20px;
}

.post-comments-count {
  position: absolute;
  right: 5px;
  bottom: 2px;
  font-size: 14px;
}
.post-upvote {
  position: absolute;
  cursor: pointer;
  right: 86px;
  top: 1px;
  font-size: 20px;
}

.post-votes-count {
  position: absolute;
  right: 20px;
  bottom: 12px;
  font-size: 14px;
}

.post-downvote {
  position: absolute;
  cursor: pointer;
  right: 58px;
  top: 6px;
  font-size: 20px;
}

.post-edit {
  position: absolute;
  cursor: pointer;
  right: 26px;
  top: 1px;
  font-size: 20px;
}

.post-delete {
  position: absolute;
  cursor: pointer;
  right: 3px;
  top: 1px;
  font-size: 20px;
}

.post-details {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 10px;
  padding: 10px;
}

.post-details-item {
  /* margin: auto;
  position: relative;
  width: 1000px;
  height: 500px; */
  /* margin: 5px; */
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
  display: flex;
  margin: 10px;
}

.post-details-category {
  /* position: absolute; */
  width: 60px;
  height: 60px;
  /* bottom: 0px;
  left: 0px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  font-size: 0;
}

.post-details-title {
  /* position: absolute;
  top: 5px;
  left: 15px; */
  width: 500px;
  height: 100px;
  font-size: 26px;
  /* text-align: center; */
}

.post-details-author {
  /* position: absolute;
  top: 20px;
  left: 15px; */
}

.post-details-upvote {
  /* position: absolute; */
  cursor: pointer;
  /* right: 90px;
  top: 1px; */
  padding: 10px;
  font-size: 24px;
  margin-left: auto;
}

.post-details-downvote {
  /* position: absolute; */
  cursor: pointer;
  /* right: 60px;
  top: 4px; */
  font-size: 24px;
  padding: 10px;

}

.post-details-edit {
  /* position: absolute; */
  cursor: pointer;
  /* right:30px;
  top: 1px; */
  padding: 10px;
  font-size: 24px;
}

.post-details-delete {
  /* position: absolute; */
  cursor: pointer;
  /* right: 4px;
  top: 1px; */
  font-size: 24px;
  padding: 10px;
}

.post-details-body {
  margin: 10px;
  /* position: absolute;
  top: 70px;
  left: 25px; */
  font-size: 30px;
  /* text-align: center; */
}

.post-details-comments {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.post-details-comments-icon {
  font-size: 30px;
}

.post-details-comments-count {
  font-size: 26px;
  margin-left: 10px;
}

.post-details-votes-count {
  font-size: 14px;
}

/* .post-comments-list {
  margin: auto;
  position: relative;
  width: 500px;
  height: 500px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
} */

.post-comment-upvote {
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  margin-left: auto;
}

.post-comment-downvote {
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
}

.post-comment-edit {
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
}

.post-comment-delete {
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
}

.post-create-button {
  position: fixed;
  right: 25px;
  bottom: 25px;
  font-size: 30px;
}

.post-create {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
}

.post-create-form {
  /* display: flex; */
  /* flex-direction: column; */
}

.post-create-author-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.post-create-author {
  font-size: 24px;
  margin: 10px;
}

.post-create-title {
  font-size: 24px;
  margin: 10px;
}

.post-create-body {
  font-size: 24px;
  margin: 10px;
  width: 500px;
}

.post-create-submit {
  display: block;
  margin: auto;
  text-align: center;
  width: 200px;
  font-size: 24px;
}

.categories-list {
  list-style: none;
  text-align: center;
  font-size: 24px;
}
.categories-list a {
  text-decoration: none;
}

.category-link {
  display: inline;
  margin: 10px;
}

.comments {
  /* position: absolute;
  right: 40px; */
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  padding-left: 10px;
  margin-left: 20px;
}

.comment {
  display: flex;
  /* position: relative; */
  border-bottom: 1px solid lightgrey;
  padding: 0.5rem 0;
}

.comment-body {
  font-size: 24px;
  margin-right: 10px;
  width: 500px;
}

.comment-author {
  color: blue;
  margin-right: 5px;
  width: 150px;
  font-size: 24px;
}

.comment:hover .remove-comment {
  opacity: 1;
}

.comment-form-author {
  color: blue;
  margin-right: 5px;
  width: 150px;
  font-size: 24px;
}

.comment-form-body {
  margin-right: 5px;
  width: 1000px;
  font-size: 24px;
}


